body{
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1{
    text-align: center;
    color: black
    font-weight: bolder;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color:;
    padding: 1em;
    border-radius: 10px;
    
}
h3{
    display: flex 1 1 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}
p{
    display: flex 1 1 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}
h3:hover, p:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
img{display: flex 1 1 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
}
img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}